body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
}
.nav-container {
    background:#dddcdc;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
    padding: 10px;
}


.flash-container {
    background:#f6f6f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}



.posttimestamp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-size: 13px;
    padding-left: 4em;
}

.likecount{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.postmessage {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
}
.button {
    text-decoration: none;
    color: black;

}
a:hover {
	color:#2387D9;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.posttable { 
    width : 100%;
    margin: 3px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Tahoma;
}

.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson; 
    text-transform: uppercase;
}

.likebtn {
    margin: 0 auto;
    height: 40px;
    width: 50px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//img//like.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.likebtn:hover {
    background-image: url("..//img//like_hover.png");
    cursor:pointer;
}


.formtitle {
    width: 30%;
}

.formbody {
    width: 80%;
    height: 100px;
}

.formselect {
    background-color: lightcyan;
    font-size: 13px;
    padding: 2px;
}
