{% extends "base.html" %}

{% block content %}

    <h1>Post New Smile</h1>

    {% if form %}

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div>
  
                <p>{{ form.title.label }}</p>
                <p>{{ form.title(class="formtitle") }}</p>
                <!-- TODO: (milestone 1) Display the error messages of the `title` field validator (if there are any validation errors).   -->  
                {% for error in form.title.errors %}
                <span style = "color: red">[{{ error }}]</span>
                {% endfor  %}

        
                <!-- TODO: (milestone1) Include the form item for the post's `body`. Apply appropriate styling for the `body`form  item.  -->  
                <p>{{ form.body.label }}</p>
                <p class = "formbody">{{ form.body(class="formbody") }}</p><br>
                <!-- TODO: (milestone 1) Display the error messages of the `body` field validator (if there are any validation errors).   -->  
                {% for error in form.body.errors %}
                <span style = "color: red">[{{ error }}]</span>
                {% endfor  %}
            </div>
            
            
            <!-- TODO: (milestone1) Include the form item for `happiness_level` selection. Apply appropriate styling for the `happiness_level` form item.  -->  
                <p>{{ form.happiness_level.label }} {{ form.happiness_level(class="formselect") }}</p>
                    <p>{{ form.tag(class="tagselect") }} </p>
                   <p>{{ form.submit(class="button") }}</p>
            <!-- TODO: (milestone2) Include the form item for `tag` selection.   -->  

        </form>
    {% endif %}


  {% endblock %}